<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,479},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{464,479},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{927,479},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1390,479},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,461}</string>
                <key>spriteSourceSize</key>
                <string>{317,461}</string>
                <key>textureRect</key>
                <string>{{320,160},{317,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,942},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{464,942},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{927,942},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1390,942},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,461}</string>
                <key>spriteSourceSize</key>
                <string>{317,461}</string>
                <key>textureRect</key>
                <string>{{783,160},{317,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,1405},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{464,1405},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{927,1405},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1390,1405},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,461}</string>
                <key>spriteSourceSize</key>
                <string>{317,461}</string>
                <key>textureRect</key>
                <string>{{1246,160},{317,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_0.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,157}</string>
                <key>spriteSourceSize</key>
                <string>{461,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{461,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,157}</string>
                <key>spriteSourceSize</key>
                <string>{461,157}</string>
                <key>textureRect</key>
                <string>{{464,1},{461,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,157}</string>
                <key>spriteSourceSize</key>
                <string>{461,157}</string>
                <key>textureRect</key>
                <string>{{927,1},{461,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_3.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,157}</string>
                <key>spriteSourceSize</key>
                <string>{461,157}</string>
                <key>textureRect</key>
                <string>{{1390,1},{461,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_4.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,157}</string>
                <key>spriteSourceSize</key>
                <string>{317,157}</string>
                <key>textureRect</key>
                <string>{{1,160},{317,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_bg.png</string>
            <key>size</key>
            <string>{1852,1867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c041c2b7c9513fbf8fabaf98e9ec5ca:3a8a183c89fb8bb9b22b5c2532cfdb01:2a3128714b8f14094cb8598723fe247b$</string>
            <key>textureFileName</key>
            <string>map_bg.png</string>
        </dict>
    </dict>
</plist>
